body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

.slideshow-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1; 
}

.mySlides {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.mySlides.active {
    opacity: 1;
}

@media (max-width: 550px) {
    


}


