body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide scroll bars */
}

.slideshow-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
     z-index: -1; /*Move the container to the background */
}

.mySlides {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.mySlides.active {
    display: block;
    opacity: 1;
}
