body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
section {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section h3 {
    color: #333;
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #555;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
}

.tab-content.active {
    display: block;
}