.festives{border: 1px solid #c8ccd1;
    background: #f8f9fa;
    margin: 3px;
    vertical-align: middle;
    word-wrap: break-word;
    text-align: center;
  border-collapse: collapse;
  line-height: 0;
  direction: ltr;

}