<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Firfire</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->

</head>
<body>
    hi ! This project is being served fron a node.js backend server.
    <%for(let i=0;i<100;i++){%>

          <div>
            <%=res_data[i].title%>
          </div>
          <div>
            <%=res_data[i].id%>
            </div>
        <%}%>
</body>
</html>