<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/festives.css">
</head>
<body>
    <h1>Mustang</h1><img  class="festives"  src="must.jpg" alt="Error-img-must">
    <p>Mustang District (Nepali: मुस्ताङ जिल्ला Listenⓘ) (from the Tibetan möntang (Wylie: smon-thang), Nepali: मुस्तांग Mustāṃg "fertile plain") is one of the eleven districts of Gandaki Province and one of seventy-seven districts of Nepal which was a Kingdom of Lo-Manthang that joined the Federation of Nepal in 2008 after abolition of the Shah dynasty. The district covers an area of 3,573 km2 (1,380 sq mi) and in 2011 had a population of 13,452.[2] The headquarters is located at Jomsom. Mustang is the fifth largest district of Nepal in terms of area.

        The district is a part of Gandaki Province in northern Nepal, straddles the Himalayas and extends northward onto the Tibetan Plateau. The district is one of the remotest areas in Nepal and is second in terms of the sparsity of population.[3] The elevation ranges from 1,372 to 8,167 meters (Mount Dhaulagiri, the 7th highest mountain in the world), with several peaks above 7,000 meters.
        
        Mustang was an ancient forbidden kingdom, bordered by the Tibetan Plateau and sheltered by some of world's tallest peaks, including 8000-meter tall Annapurna and Dhaulagiri. Strict regulations of tourists here have aided in maintaining Tibetan traditions.[4] Upper Mustang was a restricted area until 1992, which makes it one of the most preserved regions in the world due to its relative isolation from the outside world, with a majority of the population still speaking traditional Tibetic languages.[5] The name "Mustang" is derived from the Tibetan word meaning, "Plain of Aspiration."[6] Upper Mustang was only opened to foreigners in 1992 (annual quota at present of 1,000 people). It is a popular area for trekking and can be visited year round (regardless of season).[7]
        
        Agriculture and animal husbandry are the main occupations. The entire district is included within the Annapurna Conservation Area, the largest protected area of Nepal. Development programmes, tourism management, and so on are primarily overseen by the Annapurna Conservation Area Project (ACAP), a division of the National Trust for Nature Conservation (NTNC).[3] The kingdom of Mustang was a dependency of the Kingdom of Nepal since 1795,[8] but was abolished by the republican Government of Nepal on October 7, 2008, after Nepal became a federal democratic republic.[9] According to the Human Development Index, Mustang is a relatively wealthy district with a GDP per capita of US$2,466</p>
</body>
</html>