<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <link rel="stylesheet" href="/festives.css">
</head>

<body>
    <div class="container">
        <div class="item">
            <div class="image-container">
                <h1>Mustang</h1>
                <img src="must.jpg" alt="Error-img-must">
            </div>
            <p>Mustang District (Nepali: मुस्ताङ जिल्ला Listenⓘ) (from the Tibetan möntang (Wylie: smon-thang), Nepali:
                मुस्तांग Mustāṃg "fertile plain") is one of the eleven districts of Gandaki Province and one of
                seventy-seven districts of Nepal which was a Kingdom of Lo-Manthang that joined the Federation of Nepal
                in 2008</p>
            <p class="description"> after abolition of the Shah dynasty. The district covers an area of 3,573 km2 (1,380
                sq mi) and in 2011 had a population of 13,452.[2] The headquarters is located at Jomsom. Mustang is the
                fifth largest district of Nepal in terms of area.

                The district is a part of Gandaki Province in northern Nepal, straddles the Himalayas and extends
                northward onto the Tibetan Plateau. The district is one of the remotest areas in Nepal and is second in
                terms of the sparsity of population.[3] The elevation ranges from 1,372 to 8,167 meters (Mount
                Dhaulagiri, the 7th highest mountain in the world), with several peaks above 7,000 meters.

                Mustang was an ancient forbidden kingdom, bordered by the Tibetan Plateau and sheltered by some of
                world's tallest peaks, including 8000-meter tall Annapurna and Dhaulagiri. Strict regulations of
                tourists here have aided in maintaining Tibetan traditions.[4] Upper Mustang was a restricted area until
                1992, which makes it one of the most preserved regions in the world due to its relative isolation from
                the outside world, with a majority of the population still speaking traditional Tibetic languages.[5]
                The name "Mustang" is derived from the Tibetan word meaning, "Plain of Aspiration."[6] Upper Mustang was
                only opened to foreigners in 1992 (annual quota at present of 1,000 people). It is a popular area for
                trekking and can be visited year round (regardless of season).[7] </p>
                <h5>For Directions</h5>
            <button onclick="window.location.href='  https://maps.app.goo.gl/zzG47xwcrvxHS9wZ8';">Directions</button>
              
            <button class="read-more">Read More</button>
        </div>

        <div class="item">
            <div class="image-container">
                <h1>Pokhara</h1>
                <img src="pok.jpg" alt="Error-img-pok">
            </div>
            <p>Pokhara (Nepali: पोखरा [ˈpokʰʌɾa]) is a metropolitan city in central Nepal, which serves as the capital
                of Gandaki Province.[4]</p>
            <p class="description">It is the second most populous city of Nepal after Kathmandu, with 599,504
                inhabitants living in 120,594 households in 2021.[3] It is the country's largest metropolitan city in
                terms of area. The city also serves as the headquarters of Kaski District.[5] Pokhara is located 200
                kilometres (120 miles) west of the capital, Kathmandu. The city is on the shore of Phewa Lake, and sits
                at an elevation of approximately 822 m.[6] The Annapurna Range, with three out of the ten highest peaks
                in the world—Dhaulagiri, Annapurna I and Manaslu—is within 15–35 mi (24–56 km) of the valley.[7][8] The
                current mayor of Pokhara is Dhana Raj Acharya from CPN (Unified Socialist).[9][10]

                Pokhara is considered the tourism capital of Nepal,[11] being a base for trekkers undertaking the
                Annapurna Circuit through the Annapurna Conservation Area region[12] of the Annapurna ranges in the
                Himalayas. The city is also home to many of the elite Gurkha soldiers, soldiers native to South Asia of
                Nepalese nationality recruited for the British Army, Nepalese Army, Indian Army, Gurkha Contingent
                Singapore, Gurkha Reserve Unit Brunei, UN peacekeeping forces and in war zones around the world.[13]
            </p>
            <h5>For Directions</h5>
            <button onclick="window.location.href='https://maps.app.goo.gl/AfZChcJuMKjb3f6AA';">Directions</button>
            <button class="read-more">Read More</button>
        </div>

        <div class="item">
            <div class="image-container">
                <h1>Kathmandu</h1>
                <img src="ktm.jpg" alt="Error-img-ktm">
            </div>
            <p>
                Kathmandu,[a] officially Kathmandu Metropolitan City,[b] is the capital and most populous city of Nepal
                with 845,767 inhabitants living in 105,649 households as of the 2021 Nepal census[4] and 2.9 million
                people in its urban agglomeration. It is located in the Kathmandu Valley, a large valley in the high
                plateaus in central Nepal, at an altitude of 1,400 metres (4,600 feet).</p>

            <p class="description">
                The city is one of the oldest continuously inhabited places in the world, founded in the 2nd century AD.
                The valley was historically called the "Nepal Mandala" and has been the home of the Newar people, a
                cosmopolitan urban civilization in the Himalayan foothills. The city was the royal capital of the
                Kingdom of Nepal and hosts palaces, mansions and gardens built by the Nepali aristocracy. It has been
                home to the headquarters of the South Asian Association for Regional Cooperation (SAARC) since 1985.
                Today, it is the seat of government of the Federal Democratic Republic of Nepal, established in 2008,
                and is part of Bagmati Province.

                Kathmandu is and has been for many years the centre of Nepal's history, art, culture, and economy. It
                has a multi-ethnic population within a Hindu and Buddhist majority. Religious and cultural festivities
                form a major part of the lives of people residing in Kathmandu. Tourism is an important part of the
                economy in the city. In 2013, Kathmandu was ranked third among the top ten upcoming travel destinations
                in the world by TripAdvisor, and ranked first in Asia. The city is considered the gateway to the Nepal
                Himalayas and is home to several World Heritage Sites: the Durbar Square, Swayambhu Mahachaitya, Bouddha
                and Pashupatinath. Kathmandu valley is growing at 4 per cent per year according to the World Bank in
                2010, making it one of the fastest-growing metropolitan areas in South Asia, and the first region in
                Nepal to face the unprecedented challenges of rapid urbanization and modernization at a metropolitan
                scale.[6] It is the largest metropolitan area located in the Himalayas.
            </p>
            <h5>For Directions</h5>
            <button onclick="window.location.href='  https://maps.app.goo.gl/aYWvDFBCN9N5oZUAA';">Directions</button>
              
            <button class="read-more">Read More</button>
        </div>
        <div class="item">
            <div class="image-container">
                <h1>Bhaktapur</h1>
                <img src="bhak.jpg" alt="Error-img-bhak">
            </div>
            <p>
                Bhaktapur (Nepali and Sanskrit: भक्तपुर, pronounced [ˈbʱʌkt̪ʌpur] ⓘ; lit. "City of Devotees"), known
                locally as Khwopa[3] (Nepal Bhasa: 𑐏𑑂𑐰𑐥𑑅‎, Khvapa) and historically called Bhadgaon, is a city in
                the east corner of the Kathmandu Valley in Nepal located about 13 kilometres (8.1 mi) from the capital
                city, Kathmandu.[3][5] Bhaktapur is the smallest city of Nepal as well the most densely populated.[3][6]
                Along with Kathmandu and Lalitpur</p>
            <p class="description">, Bhaktapur is one of the three main cities of the Kathmandu Valley and is a major
                Newar settlement of the country. The city is also known for its Newar tradition, cuisine and
                artisans.[7] Bhaktapur suffered heavy damage in the April 2015 earthquake.

                As part of the Kathmandu Valley, it shares its history, culture and language with the other cities of
                the valley. Although chronicles like the Gopal Raj Vamshavali put the foundation of Bhaktapur in the
                12th century, it has been the site of numerous settlements since at least the Licchavi dynasty.[8]
                Bhaktapur served as the capital of Nepal during the first half of Malla dynasty from the 12th century to
                1482 when Nepal split into three independent kingdoms.[3][9] The Malla dynasty is considered a golden
                period for Bhaktapur and even after its division in 1428, Bhaktapur managed to stay as a wealthy and a
                powerful Newar kingdom, mostly due to its position in the ancient India-Tibet trade route.[8] In 1769,
                Bhaktapur was attacked and annexed into the expanding Gorkha Kingdom (which later became the Kingdom of
                Nepal).[10] After its annexation, Bhaktapur remained largely isolated from other parts of Nepal which
                led to stagnation in the development of its economy and arts and to allowed it to remain as a
                homogeneous Newar city.[11] Due to being isolated and overlooked by the central government in Kathmandu,
                its infrastructure and economy deteriorated and the 1934 earthquake further exacerbated the
                situation.[12] Bhaktapur's economy and infrastructure would only improve from the 1980s, largely due to
                tourism and aid provided by West Germany as part of the Bhaktapur Development Project.[12]

            </p>
            <h5>For Directions</h5>
            <button onclick="window.location.href='  https://maps.app.goo.gl/qRfZQXzFpYpETBLn7';">Directions</button>
              
            <button class="read-more">Read More</button>
        </div>
    </div>


    <script>
     window.onload = function() {
            // Retrieve search parameters from the URL
            var urlParams = new URLSearchParams(window.location.search);
            var dp1 = urlParams.get('dp1');
            var dp2 = urlParams.get('dp2');

            // Filter content based on search parameters
            if (dp1 === "Couple Date" && dp2 === "2") {
                document.querySelectorAll('.item').forEach(item => {
                    var title = item.querySelector('h1');
                    if (title && title.innerText !== 'Mustang') {
                        item.style.display = 'none';
                    }
                });
            }
           else if (dp1 === "Children Trip" && dp2 === "4") {
                document.querySelectorAll('.item').forEach(item => {
                    var title = item.querySelector('h1');
                    if (title && title.innerText !== 'Bhaktapur') {
                        item.style.display = 'none';
                    }
                });
            }
        };
        document.querySelectorAll('.read-more').forEach(btn => {
            btn.addEventListener('click', () => {
                btn.parentElement.querySelector('.description').classList.toggle('hidden');
                btn.textContent = btn.textContent === 'Read More' ? 'Read Less' : 'Read More';
            });
        });
    </script>
</body>

</html>


